/* Empty. Add your own CSS if you like */
* {
  box-sizing: border-box;
}

h1 img {
  max-height: 100%;
}

.sounds {
  margin-top: 1em;
  text-align: center;
}

.sounds i {
  display: block;
  
}

.sounds li {
  display: inline-block;
  width: 25%;
  margin-right: 5%;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin:0.7em;
  padding: 0.3em;
  background-color: #fff;
  border-width: 2px;
  border-color: #eee;
}

.sounds li:hover {
  border-color: #81c483;
  border-width: 2px;
}

.sounds li:active{
  background-color: #fff;
}

.sounds li:first-child {
  
}